<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ltlgenmodel -->
      <package
            uri="hu.bme.mit.ltl"
            class="hu.bme.mit.ltl.LtlPackage"
            genModel="model/ltl.genmodel"/>
   </extension>

</plugin>
