<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mealygenmodel -->
      <package
            uri="hu.bme.mit.mealymodel"
            class="hu.bme.mit.mealymodel.MealymodelPackage"
            genModel="model/mealygenmodel.genmodel"/>
   </extension>

</plugin>
